

body {

  background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(2, 27, 30, 1) 0%);

}


@media (prefers-color-scheme: light) {
  :root {
    color: #304f69;
  
  }
 
  
}

h2{
  text-align: center;
  
}

h3{
  text-align: center;
  justify-content: center;
  font-size: .5rem;
}

menu{
   margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}



ul button {
  border-radius: 5px;
  background-color: transparent;
  border-color: #0b1403;
  color: #7ac714;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  margin: 0; /* <-- add this */
  padding: 0.5rem 1rem; /* keep if you want inner space */

  
  
}

.footer-bg{
  padding: 2rem;
  border-radius: 6px;
  background-color: #0b1403;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  max-width: 50rem;
  margin: 0 auto;
  width: 60%; /* or any fixed width */
  margin-top: 50px;
  
}

.footer-bg ul {
   font-size: 0; 
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 0; 
}


.footer-bg h3 {
    text-align: left;

}

.examples button {
   font-size: 1rem;
}


